@font-face {
  font-family: 'JacquesFrancois';
  src: url('./assets/fonts/JacquesFrancois-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "JacquesFrancois, sans-serif";
}